In [35]:
months,expenses =['Baisakh', 'Jestha', 'Asar', 'Shrawan', 'Bhadra'], [2200, 2350, 2600, 2130, 2190]

In [36]:
months

['Baisakh', 'Jestha', 'Asar', 'Shrawan', 'Bhadra']

In [37]:
expenses

[2200, 2350, 2600, 2130, 2190]

In [38]:
db = list(zip(months,expenses))

In [39]:
db

[('Baisakh', 2200),
 ('Jestha', 2350),
 ('Asar', 2600),
 ('Shrawan', 2130),
 ('Bhadra', 2190)]

In [40]:
# ans a

extraexp = db [1][1] - db [0][1]
extraexp

150

In [41]:
#  ans b

total = db[0][1] + db[1][1] + db[2][1]
total

7150

In [78]:
#   ans c
for i , j in db:
    if j == 2000:
        print('2000 was spent in ' + i)
        
    else:
            print('None')
          
            break

None

In [80]:
# ans d

db.append(['Asoj', 1980])

In [81]:
db

[('Baisakh', 2200),
 ('Jestha', 2350),
 ('Asar', 2600),
 ('Shrawan', 2130),
 ('Bhadra', 2190),
 ['Asoj', 1980]]

In [82]:
db[3] = (db[3][0], data[3][1]-200)
db

[('Baisakh', 2200),
 ('Jestha', 2350),
 ('Asar', 2600),
 ('Shrawan', 1930),
 ('Bhadra', 2190),
 ['Asoj', 1980]]

# **Thankyou**